@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Aldrich');

body {
	margin: 0;
	padding: 0;
	background: black;
}

h2, p {
	color: white;
}

h2 {
	position: absolute;
	top: 60%;
	left: 52%;
	font-family:'Aldrich', sans-serif;
}

p {
	position: absolute;
	top: 68%;
	left: 52%;
	width: 35%;
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
}

form {
	float: right;
}

.neon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 20px;
	font-size: 6em;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0 0 20px #ff005b;
	text-align: center;
	width: 50%;
}

.neon:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index:-1;
	color: #ff005b;
	filter: blur(15px);
}

.neon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#fe3a80;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
}

#userInput {
	padding: 5px;
	width: 200px;
}

h2 {
	text-transform: uppercase;
}







